[alias]
  amend = commit --amend
  ci = commit
  co = checkout
  coax = checkout develop_ax_deploy
  cofix = checkout sass-temp-fix
  coma = checkout master
  core = checkout release
  mt = mergetool
  pushup = push -u origin HEAD
  stat = status
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[user]
  email = james.white@firstup.io
  name = James White
[safe]
  directory = *
[pull]
  ff = only
